body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #90d492;
    color: rgba(28, 21, 28, 0.795);
    padding: 10px 0;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    margin: 0;
    padding: 10px;
    background-color: #2e2b2be4;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    padding: 20px;
    text-align: center;
}

.columns {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.column {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 30%;
    padding-bottom: 90px;
}

footer {
    background-color: #2e2b2be4;
    color: white;
    text-align: center;
    width: 100%;
    bottom: 0;
    padding: 10px;

}